@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body,
h1,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-image: url("./../img/bg.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins";
  background-size: contain;
}

.main-container__menu {
  background-color: #f9faff;
  width: 560px;
}

.menu__form {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  padding-left: 96px;
  padding-right: 96px;
}
.menu__message {
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  color: #a1abc9;
}
.menu__title {
  margin-top: 264px;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
}

input {
  width: 368px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #dce0ec;
  box-sizing: border-box;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
  border-radius: 8px;
  background-image: url("./../img/user.svg");
  padding-left: 64px;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  padding-right: 20px;
  text-overflow: ellipsis;
}

input:focus {
  border: 1px solid #587ae1;
  outline: none;
}

input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #a1abc9;
}

input.input__email {
  background-image: url("./../img/email.svg");
  background-repeat: no-repeat;
  background-position: 24px 50%;
  border: none;
}

.input__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 368px;
  border: 1px solid #dce0ec;
  border-radius: 8px;
}

.menu__button {
  width: 214px;
  height: 56px;
  border-radius: 8px;
  background: #7297ff;
  border: none;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 24px;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  background-image: url("./../img/angle-right-b.svg");
  background-repeat: no-repeat;
  background-position: 166px 50%;
  line-height: 24px;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 432px;
}

.menu__returnPage {
  width: 25px;
  height: 25px;
  margin-top: 264px;
  cursor: pointer;
}

.menu_returnPage__group {
  display: flex;
  flex-direction: row;
  gap: 0 16px;
}

small {
  padding-top: 8px;
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
  color: #f6657f;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 560px) {
    .main-container {
      padding-top: 72px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .main-container__menu {
      border-radius: 30px 30px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .menu__form {
      gap: 24px 0;
      padding-left: 32px;
      padding-right: 32px;
      width: 257px;
      border-radius: 30px 30px 0 0;
    }
    .menu__title {
      margin-top: 32px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  
    .menu__button {
      margin-top: 8px;
      width: 198px;
      height: 48px;
      font-size: 17px;
      padding-left: 16px;
      background-position: 158px 50%;
    }
    input {
      width: 256px;
      height: 40px;
      padding-left: 48px;
      font-weight: normal;
      font-size: 15px;
      line-height: 140%;
    }
  
    input.input__email {
      background-position: 16px 50%;
    }
  
    .input__form {
      width: 256px;
    }
  
    .menu__returnPage {
      margin-top: 32px;
      cursor: pointer;
    }
  
    .menu_returnPage__group {
      display: flex;
      flex-direction: row;
      gap: 0 16px;
    }
  }
  @media screen and (min-width:560px ) {
    .main-container{
        background-size: auto;
    }
  }